<!-- The Modal -->
<div id="id01" class="w3-modal" style="display:block;">
  <div class="w3-modal-content">
    <div class="w3-card-4" style="width:100%">
      <div class="w3-container w3-blue">
        <span onclick="document.getElementById('id01').style.display='none';document.getElementById('id02').style.display='block'"
        class="w3-closebtn">&times;</span>

        <header class="w3-container w3-blue">
          <h1>How to use this app</h1>
        </header>
          <ol style="margin-top: 0px;">
            <li>Click on the top left word <span *ngIf="word">({{word}})</span><span *ngIf="!word">(it currently says "&lt;click&gt;")</span></li>
            <li>Enter you new word</li>
            <li>Click on the Print button</li>
          </ol>
      </div>
    </div>
  </div>
</div>

<div>
  <span  class="float-right">
    <div id="id03" style="display: block;" onclick="window.print();" class="w3-btn no-print w3-indigo">Print</div>
    <div id="id02" style="display: none;" onclick="document.getElementById('id01').style.display='block';document.getElementById('id02').style.display='none'"
      class="w3-btn no-print w3-blue">Help?</div>
  </span>
<table>
    <tbody>
      <tr>
        <td class="heading" style="width:100px;">Read it</td>
        <td>
          <table class="w3-table w3-bordered w3-border w3-hoverable w3-xxlarge">
            <tbody>
              <tr style="height: 100px">
                <td style="width:33%"><input style="width:100px;" autocorrect="on" placeholder="<click>" style="border-style:none;" #myWord (keyup)="inputText($event)"/></td>
                <td style="width:33%" class="font1">{{getWord()}}</td>
                <td style="width:33%" class="font2">{{getWord()}}</td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
  &nbsp;<br/>
  <table>
    <tbody>
      <tr>
        <td class="heading" style="width:100px;">Write it</td>
        <td>
        <table class="w3-table w3-bordered w3-border w3-xxlarge">
          <tbody>
            <tr style="height: 100px">
              <td style="width:33%" class="font-light">{{getWord()}}</td>
              <td style="width:33%" class="font1 font-light"><div style="width:60%;margin:80px auto 20px 0px;border-bottom:1px;border-bottom-style:solid;height:2px;">&nbsp;</div></td>
              <td style="width:33%" class="font2 font-light"><div style="width:60%;margin:80px auto 20px 0px;border-bottom:1px;border-bottom-style:solid;height:2px;">&nbsp;</div></td>
            </tr>
          </tbody>
        </table>
        </td>
      </tr>
    </tbody>
  </table>
  &nbsp;<br/>
  <table>
    <tbody>
      <tr>
        <td class="heading" rowspan="4" style="width:100px;height: 320px;">Find it</td>
        <td>
          <table class="w3-table w3-border w3-xxlarge">
              <tbody>
                <tr style="height: 80px">
                  <td style="width:20%;">{{getWords()[0]}}</td>
                  <td style="width:20%;">{{getWords()[1]}}</td>
                  <td style="width:20%;">{{getWords()[2]}}</td>
                  <td style="width:20%;">{{getWords()[3]}}</td>
                </tr>
                <tr style="height: 80px">
                  <td style="width:20%;">{{getWords()[4]}}</td>
                  <td style="width:20%;">{{getWords()[5]}}</td>
                  <td style="width:20%;">{{getWords()[6]}}</td>
                  <td style="width:20%;">{{getWords()[7]}}</td>
                </tr>
                <tr style="height: 80px">
                  <td style="width:20%;">{{getWords()[8]}}</td>
                  <td style="width:20%;">{{getWords()[9]}}</td>
                  <td style="width:20%;">{{getWords()[10]}}</td>
                  <td style="width:20%;">{{getWords()[11]}}</td>
                </tr>
                <tr style="height: 80px">
                  <td style="width:20%;">{{getWords()[12]}}</td>
                  <td style="width:20%;">{{getWords()[13]}}</td>
                  <td style="width:20%;">{{getWords()[14]}}</td>
                  <td style="width:20%;">{{getWords()[15]}}</td>
                </tr>
              </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
  &nbsp;<br/>
  <table>
    <tbody>
      <tr>
        <td class="heading" style="width:100px; height:160px">Fill the blocks</td>
        <td>
          <table class="w3-table w3-border">
              <tbody>
                <tr>
                  <td style="width:100px; height:160px" *ngFor="#letter of getWordLetters()"><div style="margin:10%; width:80%; height:80%; border:1px; border-style:solid"></div></td>
                </tr>
              </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
  &nbsp;<br/>
  <table>
    <tbody>
      <tr>
        <td class="heading" style="width:100px; height:160px;">Write a sentence</td>
        <td>
          <table class="w3-table w3-border">
            <tbody>
              <tr>
                  <td style="width:100%;height:160px" class="font-light"><div style="width:90%;margin:80px auto 20px auto;border-bottom:1px;border-bottom-style:solid;">&nbsp;</div></td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</div>
