@media print
{
    .no-print, .no-print *
    {
        display: none !important;
    }
}

body {
   font-family: 'Roboto', sans-serif;
}

td {
    vertical-align: middle;
}

.float-right-btn {
  position: absolute;
  top:0;
  right:0;
}

.font1 {
  font-family: 'Roboto Slab', serif;
}

.font2 {
  font-family: 'Handlee', cursive;
}

.font-light {
   font-weight: 100;
}

input {
  width: 150px;
}

.heading {
  font-size: 20px;
  margin: auto;

/* Safari */
-webkit-transform: rotate(-90deg);

/* General */
transform: rotate(-90deg);

/* Firefox */
-moz-transform: rotate(-90deg);

/* IE */
-ms-transform: rotate(-90deg);

/* Opera */
-o-transform: rotate(-90deg);

/* Internet Explorer */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}
